.Rproj.user
.Rhistory
.RData*
.Ruserdata
T2DSubtypesMR.Rproj
raw/*
data/*
output/*
.DS_Store
code/specify_paths.R
tmp/
documents/
plink_mac_20200428/
!raw/README.md
!raw/gwas.csv
!data/README.md
!output/README.md
backup.zip